@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    40 Pearl Street<br />
    Grand Rapids, MI  49505<br />
    <abbr title="Phone">P:</abbr>
    616.616.1234
</address>

<address>
    <strong>Support:&nbsp; </strong>   <a href="mailto:Support@grandcircus.co">Support@grandcircus.co</a><br />
    <strong>Marketing: &nbsp; </strong> <a href="mailto:Marketing@grandcircus.co">Marketing@grandcircus.co</a>
</address>