
@{
    ViewBag.Title = "Member";
}

<h2>Member</h2>

<p>As a Member, you so totally ROCK!! </p> 
    
   <p> Membership gives you a 
    
     <h3>50%</h3> Discount on <h3>EVERYTHING!!</h3>
    </p>

